/** @format */

.box_notVisi {
	opacity: 0;
	width: 30%;
}

.box_Visi {
	background: linear-gradient(90deg, green, rgb(88, 201, 54));
	width: 400px;
	opacity: 1;
	animation-name: boxAnn;
	animation-duration: 4s;
}

.text_notVisi {
	opacity: 0;
}

.text_Visi {
	opacity: 0;
	animation-name: textAnn;
	animation-duration: 2s;
	animation-delay: 1s;
}

@keyframes textAnn {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes boxAnn {
	0% {
		height: 0px;
	}
	30% {
		height: 100px;
	}

	70% {
		height: 100px;
	}
	100% {
		height: 0px;
	}
}

.pageButton {
	position: relative;
	border: 0;
	border-radius: 0.5em;
	box-shadow: 3px 3px 15px rgb(144, 0, 255), -3px 0px 15px rgb(144, 0, 255);
	cursor: pointer;
	background: linear-gradient(
		90deg,
		rgba(90, 0, 158, 0.5),
		rgb(144, 0, 255, 0.5)
	);
	display: block;
}

@media screen and (min-width: 600px) {
	.pageButton {
		width: 200px;
		padding: 0.7em 1.5em;
	}
}

@media screen and (max-width: 600px) {
	.pageButton {
		width: 150px;
		padding: 0.2em 0.8em;
	}
}

.pageButton:hover {
	filter: brightness(1.1);
}

.pageButton:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
	box-shadow: 1px 1px 10px rgb(144, 0, 255), -1px 0px 10px rgb(144, 0, 255);
}

@mixin techCardSlide_theme($slide) {
	animation-delay: 2s;
	opacity: 0;
	animation-name: $slide;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

@mixin shadows_theme {
	animation-name: shadowAnn;
	animation-duration: 3s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
}

.card0 {
	@include techCardSlide_theme(slideAnn1);
	.innerCard0 {
		@include shadows_theme;
	}
}

.card1 {
	@include techCardSlide_theme(slideAnn);
	.innerCard1 {
		@include shadows_theme;
	}
}

@keyframes shadowAnn {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 5px 10px rgb(144, 0, 255);
	}
}

@keyframes slideAnn {
	from {
		opacity: 0;
		transform: translateX(+30px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes slideAnn1 {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
