/** @format */

/*@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Poppins:wght@200&display=swap');*/

:root {
	--card-width: 200px;
	--card-height: 300px;
	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}

html,
body {
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	/*font-family: 'Alumni Sans Inline One';*/
}

@font-face {
	font-family: AlumniSansInlineOne;
	src: url('/fonts/AlumniSans-Regular.ttf');
	format: ('ttf');
	font-display: swap;
}

form {
	width: 100%;
	height: 100%;
}

.slide_body {
	margin: auto;
	max-width: '100%';
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-450px * 7));
	}
}

.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	max-width: 1200px;
	border-radius: 10px;
	border: 1px solid rgb(75, 71, 82);
	background-color: rgba(39, 37, 43, 0.5);
	padding: 30px;
}
.slider::before,
.slider::after {
	background: linear-gradient(
		to right,
		rgb(144, 0, 255) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	content: '';
	position: absolute;
	width: 50px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	-webkit-animation: scroll 40s linear infinite;
	animation: scroll 30s linear infinite;
	display: flex;
	width: calc(450px * 14);
}
.slider .slide {
	width: 450px;
	margin-right: 50px;
}

@media screen and (min-width: 600px) {
	.slider {
		height: 200px;
	}
	.slider::before,
	.slider::after {
		height: 250px;
	}
	.slider .slide {
		height: 135px;
	}
	.slider .slide-track {
		width: calc(450px * 14);
	}
}

@media screen and (max-width: 600px) {
	.slider {
		height: 150px;
	}
	.slider::before,
	.slider::after {
		height: 150px;
	}
	.slider .slide {
		height: 100px;
	}
	.slider .slide-track {
		width: calc(300px * 14);
	}
}
