/** @format */

.fade900 {
	opacity: 0;
}

@media screen and (max-width: 899px) {
	.fade900 {
		opacity: 0;
		animation-name: example;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes example {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@media screen and (min-width: 899px) {
	.fade900 {
		opacity: 0;
		animation-name: example2;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes example2 {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.fade1200 {
	opacity: 0;
}

@media screen and (max-width: 1201px) {
	.fade1200 {
		opacity: 0;
		animation-name: example8;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes example8 {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@media screen and (min-width: 1201px) {
	.fade1200 {
		opacity: 0;
		animation-name: example9;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes example9 {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.fade600 {
	opacity: 0;
}

@media screen and (max-width: 601px) {
	.fade600 {
		opacity: 0;
		animation-name: fade600ann;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes fade600ann {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@media screen and (min-width: 601px) {
	.fade600 {
		opacity: 0;
		animation-name: fade600annb;
		animation-duration: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes fade600annb {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@mixin shadow_theme {
	animation-name: shadowAnn;
	animation-duration: 2s;
	animation-delay: 4s;
}

.slide_left {
	opacity: 0;
	animation-name: example3;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	.shadows {
		@include shadow_theme;
	}
	.shadows2 {
		@include shadow_theme;
		animation-fill-mode: forwards;
	}
}

@keyframes example3 {
	from {
		opacity: 0;
		transform: translateX(+50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.slide_right {
	animation-name: example4;
	animation-duration: 2s;
	.shadows {
		@include shadow_theme;
	}
	.shadows2 {
		@include shadow_theme;
		animation-fill-mode: forwards;
	}
}
@keyframes example4 {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes shadowAnn {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 10px 10px rgb(144, 0, 255);
	}
}

.divek {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.none {
	opacity: 0;
}

.visi {
	height: 100%;
	width: 100%;
}

.fade {
	opacity: 1;
	animation-name: fadeAnn;
	animation-duration: 4s;
	.divider {
		width: 0%;
		animation-fill-mode: forwards;
		animation-name: dividAnn;
		animation-duration: 3s;
		animation-delay: 5s;
	}
}

.fade {
	opacity: 1;
	animation-name: fadeAnn;
	animation-duration: 4s;
	.divid3s {
		width: 0%;
		animation-fill-mode: forwards;
		animation-name: dividAnn;
		animation-duration: 3s;
		animation-delay: 2s;
	}
}

@keyframes fadeAnn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dividAnn {
	from {
		width: 0%;
	}
	to {
		width: 17rem;
	}
}

.mainLayout {
	background: linear-gradient(215deg, rgb(39, 37, 43) 29.9%, black 80%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.noVis {
	opacity: 0;
}

.Vis {
	opacity: 1;
}

.mainBox {
	overflow-y: hidden;
	border: 10;
}
