/** @format */

@mixin tech_right_theme($delayVariable, $animationVariable) {
	opacity: 0;
	animation-name: $animationVariable;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: $delayVariable;
}

@mixin tech_left_theme($delayVariable, $animationVariable) {
	opacity: 0;
	animation-name: $animationVariable;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: $delayVariable;
}

.firstBig {
	@include tech_right_theme(2s, right_push);
}

.secondBig {
	@include tech_left_theme(2.5s, left_push);
}

.second2Big {
	@include tech_left_theme(2.5s, left_push2);
}

.thirdBig {
	@include tech_right_theme(3s, right_push);
}

.third2Big {
	@include tech_right_theme(3s, right_push2);
}

.fourthBig {
	@include tech_left_theme(3.5s, left_push);
}

@keyframes left_push {
	0% {
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes left_push2 {
	0% {
		transform: translateX(-110%);
	}
	100% {
		opacity: 1;
		transform: translateX(-100%);
	}
}

@keyframes right_push {
	0% {
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes right_push2 {
	0% {
		transform: translateX(-150px);
	}
	100% {
		opacity: 1;
		transform: translateX(-100%);
	}
}

@mixin box_shad_theme($name) {
	animation-name: $name;
	animation-delay: 4s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.up {
	@include box_shad_theme(up_shadow);
}

.down {
	@include box_shad_theme(down_shadow);
}

.right {
	@include box_shad_theme(right_shadow);
}

.left {
	@include box_shad_theme(left_shadow);
}

.noShadow {
	box-shadow: none;
}

@keyframes up_shadow {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px -5px 10px rgb(144, 0, 255), 5px 0px 10px rgb(144, 0, 255),
			-5px 0px 10px rgb(144, 0, 255);
	}
}

@keyframes down_shadow {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 5px 10px rgb(144, 0, 255), 5px 0px 10px rgb(144, 0, 255),
			-5px 0px 10px rgb(144, 0, 255);
	}
}

@keyframes left_shadow {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 5px 0px 10px rgb(144, 0, 255);
	}
}

@keyframes right_shadow {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: -5px 0px 10px rgb(144, 0, 255);
	}
}

.shadowBox {
	animation-name: shadowAnimation;
	animation-delay: 4s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes shadowAnimation {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 10px 10px rgb(144, 0, 255);
	}
}

.brackets {
	animation: brackets_reveal 2s ease;
	opacity: 0;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

@keyframes brackets_reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bracketsInv {
	opacity: 0;
}

.firstSmall {
	@include tech_right_theme(2s, right_push);
}

.secondSmall {
	@include tech_right_theme(2s, left_push);
}

.thirdSmall {
	@include tech_right_theme(2.5s, right_push);
}

.fourthSmall {
	@include tech_right_theme(2.5s, left_push);
}

.fifthSmall {
	@include tech_right_theme(3s, right_push);
}

.sixthSmall {
	@include tech_right_theme(3s, left_push);
}

.seventhSmall {
	@include tech_right_theme(3.5s, right_push);
}

.eighthSmall {
	@include tech_right_theme(3.5s, left_push);
}

.slideVisibility {
	animation: slide_reveal 6s ease;
	opacity: 0;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

@keyframes slide_reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
